body {
  padding-top: 50px;
}
.basecontent {
  padding: 10px 15px;
  text-align: center;
}

.row{padding-bottom:10px;}

#quotes{height:60px;background-color:#d9e8f5;}
.homeblue{background-color:#91bed4; font-weight:bold; font-size:16px;}
.headerhome{text-align:'center';}